.c-item {
    height: 600px;
}

.c-img {
    /* ask how to make image fit on desktop screen resolution */
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.btn-link {
    color: #fff;
    text-decoration: none;
}

.form-signup {
background-color: #fff;
border: 2px solid #129145;
border-radius: 30px;
filter: drop-shadow(0 0 0.25rem rgb(80, 80, 80));
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
